/* /Views/Components/Dialog.razor.rz.scp.css */
.bd-no-border[b-vrz7jtgy6y] {
    border: none;
}

.bd-back-blur3[b-vrz7jtgy6y] {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.bd-back-blur5[b-vrz7jtgy6y] {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.bd-back-blur10[b-vrz7jtgy6y] {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

dialog.bd-backdrop-blur3[b-vrz7jtgy6y]::backdrop {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

dialog.bd-backdrop-blur5[b-vrz7jtgy6y]::backdrop {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

dialog.bd-backdrop-blur10[b-vrz7jtgy6y]::backdrop {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.bd-fade-in[b-vrz7jtgy6y] {
    opacity: 1;
    animation-name: fade-in-b-vrz7jtgy6y;
    animation-duration: .35s;
    animation-timing-function: ease-in;
}


.bd-slide-down[b-vrz7jtgy6y] {
    position: relative;
    top: 0px;
    animation-name: slide-down-b-vrz7jtgy6y;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
}

@keyframes fade-in-b-vrz7jtgy6y {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide-down-b-vrz7jtgy6y {
    from {
        top: calc(100vh * -1);
    }

    to {
        top: 0px;
    }
}
/* /Views/Components/DialogCloseButton.razor.rz.scp.css */
.btn:focus[b-1ce636nc15] {
    box-shadow: none;
}
/* /Views/Components/IconBuilder.razor.rz.scp.css */
.app-head[b-iq44qpralv] {
    background: rgb(102,0,218);
    background: linear-gradient(114deg, rgba(102,0,218,1) 0%, rgba(124,0,145,1) 100%);
}
/* /Views/Components/LoadingSpinner.razor.rz.scp.css */
.spin-container[b-pv3x7cm4t3] {
    width: 260px;
    height: 260px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.spin[b-pv3x7cm4t3] {
    position: absolute;
    border: 3px solid #0D4B9F;
    width: 200px;
    height: 200px;
    margin: 0px auto;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate-b-pv3x7cm4t3 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

.loading-text[b-pv3x7cm4t3] {
    position: absolute;
    top: 90px;
}

.border2[b-pv3x7cm4t3] {
    border: 3px solid #E0EDFF;
    width: 220px;
    height: 220px;
    position: absolute;
    top: -10px;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate2-b-pv3x7cm4t3 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

.border3[b-pv3x7cm4t3] {
    border: 3px solid #005CDC;
    width: 240px;
    height: 240px;
    position: absolute;
    top: -20px;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate-b-pv3x7cm4t3 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

.border4[b-pv3x7cm4t3] {
    border: 3px solid #94B6E5;
    width: 260px;
    height: 260px;
    position: absolute;
    top: -30px;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate2-b-pv3x7cm4t3 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

@keyframes rotate-b-pv3x7cm4t3 {
    0% {
        transform: rotateZ(-360deg)
    }

    100% {
        transform: rotateZ(0deg)
    }
}

@keyframes rotate2-b-pv3x7cm4t3 {
    0% {
        transform: rotateZ(360deg)
    }

    100% {
        transform: rotateZ(0deg)
    }
}


